@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
main{
    background-color: white;
    height: 50vh;
    width: 30vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 30px;
    font-family: 'Roboto Condensed', sans-serif;

}

.message{
   margin-top: 30px; 
   font-size: 1.2rem;
   user-select: none;
}
.dice-container{
    
    margin-top: 50px;
    height: 150px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}
.dice{
    background-color: #fff;

    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 700;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor : pointer;
}
.roll-btn{
    margin-top: 50px;
    padding: 8px 21px;
    border: none;
    background-color: #5a189a;
    color: #fff;
    border-radius: 5px;
    font-size: larger;
    cursor : pointer;

}
.dice:active{
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);
}